player-connection-mode=Listen
player-connection-guid=612242927
player-connection-debug=0
player-connection-project-name=MajdataPlay
player-connection-ip=192.168.10.120
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
build-guid=b1ae19030dcc45dab5e1692d0e586c0a
